body{
    background: linear-gradient(90deg, #e9b7ce,#d3f3f1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    border: 3px dashed #dd3785;
    color: #880e4f;
    font-size: 36px;
    padding: 5px
}
h2{
    color: #093e3a;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#first, #second, #third, #fourth, #fifth, #sixth, #seventh, #eigth{
    background: #e9b7ce;
    color: #100636;
    border: 1px dotted #d3f3f1;
    box-shadow: 5px 4px 10px #15504c;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}
#seventh{
    padding-left: 5px;
}
