body{
    background: linear-gradient(90deg, #D8BDBE, #BD90E3, #CC575F);
    color: #CC575F;
    margin: 0px 25px;
    padding: 5px;
}
h1{
    text-align: center;
    padding: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100px;
    color: #b2212b;
    font-size: 36px;
}
#welcome{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    color: #4b0d61;
    border: 2px dashed #691218;
    border-radius: 10px;
    background: #c1a7ca;
}
nav{
    
    font-size: 20px;
    color: #4b0d61;
    padding: 7px;
    text-align: center;
    
}
#navi{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #872da8;
    background: #4e145a;
    text-decoration: none;
    
}
#navi2{
    text-decoration: none;
}
a{
    color: #ffffff;
}
h2{
    padding: 5px;
    background: #e0979c;
    border-radius: 10px;
    color: #360545;
    font-size: 26px;
}
#para{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #4b0d61;
    font-size: 18px;
}
#git{
    background: #38044d;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid #3f0b54;
    padding: 5px;
}
h3{
    color: #691218;
    font-size: 22px;
}
#plinks{
    color: #4b0d61;
    text-decoration: none;
}