body{
    background: linear-gradient(90deg, #08203E, #557C93);
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
#first{
    background: #6aa6c9;
    color: #ffffff;
    box-shadow: 5px 4px 10px #6aa6c9;
}
audio{
    width: 50%;
    background: #6aa6c9;
    border-radius: 25px;
    box-shadow: 5px 5px 10px  #6aa6c9;
    margin-bottom: 20px;
    
}
#second{
    background: #4f8ad2;
    color: #fafafa;
    box-shadow: 5px -4px 10px #13263d;
}
s{
    background: #08203E;
    padding: 2px 5px;
    
}
table{
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
}
img{
    border-radius: 15px;
    border: 2px solid #557C93;
    box-shadow: -2px 5px 10px #96d4ca;
    padding: 2px;
}
iframe{
    border: 2px solid #6aa6c9;
    box-shadow: 5px 7px 10px #96d4ca;
    border-radius: 10px;
}
